<div class="pop-up-container">
    <button class="close-btn" (click)="closeRules()">x</button>
    <div class="text-container">
        <h3 class="text-title">¿Cómo se juega?</h3>
        <p class="text-rules">
            Los jugadores se reparten en dos equipos, se necesitan al menos cuatro jugadores (2 equipos de 2 personas). Cada equipo deberá elegir un jugador para que sea el jefe de la red de espionaje (Espía Jefe). Los dos jefes de espías podrán ver la disposición de las palabras correspondientes a sus bandos. El resto de jugadores harán de agentes de campo. Entonces, se despliegan 25 tarjetas con palabras, formando un cuadrado de 5x5.
        </p>
        <p class="text-rules">
            Los jefes de espías se irán alternando para aportar pistas compuestas por una sola palabra. Una pista puede relacionarse con varias de las palabras que hay sobre la mesa. Además, los jefes tendrán que decir un número, que indicará a sus compañeros de equipo cuántos nombres en clave están relacionados con esa pista. Los agentes de campo intentarán adivinar a qué palabra o palabras se refiere su jefe. 
        </p>
        <p class="text-rules">
            Cuando un agente toque una palabra y confirme, el jefe de espías revelará la respuesta. Si se trata de una palabra de su bando, estos podrán seguir adivinando hasta que se queden sin ideas para la pista que les han dado o decidan no arriesgar más; si fallan o se detienen, empezará el turno del equipo rival. El primer equipo en descubrir todas las palabras de su bando gana. Pero... ¡Mucho cuidado! Si desvelan la palabra bomba, el juego termina de forma inmediata, perdiendo la partida el equipo que la desvele.
        </p>
        <p class="text-rules">
            Los jefes de espías deberán evitar mostrar sus emociones y limitarse a decir la pista y el número.
        </p>
    </div>
   
</div>
