$neutral-card: #fef9e7; 
$neutral-text-card: #665b32;
$red-team-card: #EC7063;
$red-team-text-card: #94362C;
$blue-team-card:#5499C7;
$blue-team-text-card:#1F618D;
$bomb-card: #000000;
$bomb-text-card: #494949 ;

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 100px;
}

.word-container {
    flex: 1 0 16%;
    background-color: $neutral-card;
    background-image: url(../../assets/neutral.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px $neutral-text-card;
    text-align: center;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;

}
.word-container p { 
    position: relative;
    bottom: -20%;
}

.red-team {
    background-color: $red-team-card;
    background-image: url(../../assets/red.png);
    color: $red-team-text-card;
    font-weight: 500;
    border-color: $red-team-text-card;
}
.blue-team {
    background-color: $blue-team-card;
    background-image: url(../../assets/blue.png);
    color: $blue-team-text-card;
    font-weight: 500;
    border-color: $blue-team-text-card;
}
.bomb{
    background-color: $bomb-card;
    background-image: url(../../assets/bomb.png);
    color: $bomb-text-card;
    font-weight: 500;
    border-color: $bomb-text-card;
}

.spy-master-word-container{
    flex: 1 0 16%;
    background-color: $neutral-card;
    background-image: url(../../assets/neutral.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px $neutral-card;
    text-align: center;
    margin: 10px;
    border-radius: 12px;
}
.spy-master-word-container p { 
    position: relative;
    bottom: -20%;
}
.red-spy-master {
    border: 4px solid $red-team-card;
}
.blue-spy-master {
    border: 4px solid $blue-team-card;
}
.bomb-spy-master {
    border: 4px solid $bomb-card;
}

@media (max-width: 1155px) {
    .word-container {
        background-image: none;
        background-color: $neutral-card; 
    }
    .word-container p { // Usamos un span para el texto
        position: initial;
        border-radius: 12px;
        border: 2px solid $neutral-text-card;
        margin: 16px;
        padding: 0;
    }
    .red-team{
        background-color: $red-team-card;
        border-color: $red-team-text-card;
    }
    .red-team p {
        border: 2px solid $red-team-text-card
    }
    .blue-team{
        background-color: $blue-team-card;
        border-color: $blue-team-text-card;   
    }
    .blue-team p {
        border: 2px solid $blue-team-text-card
    }
    .bomb {
        background-color: $bomb-card;
        border-color: $bomb-text-card;
    }
    .bomb p {
        border: 2px solid $bomb-text-card;
    }
}