<div class="flex-container">
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
    <div class="word-container">TEST</div>
</div>
