*{
    background-color: #212f3c;
    margin: 0;
    padding: 0;
}

.cards-container {
    margin: 5%;
    background-color: #212f3c;
}
.role-container, .start-game-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nextgame {
    float: right;
}