
.box {
    background-color: black;
    background-image: url('../../assets/espia.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.create-game-btn{
  background-color: #34495e;
  color: #d7dbdf;
  padding: 12px 24px;
  font-size: 18px;
  border: 2px solid #d7dbdf ;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: flex;
  align-items: center;
}

.create-game-btn:hover {
    background-color: #212f3c; /* Un azul más oscuro al pasar el cursor */
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}
.title{
    color: white;
    margin-top: -50px;
}

.how-to-play-container{
  position: absolute;
  bottom: 100px;
}
.rules-btn {
   background-color: #34495e;
    color: #d7dbdf;
    padding: 8px 16px;
    font-size: 16px;
    border: 2px solid #d7dbdf;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.rules-btn:hover {
  background-color: #212f3c;
}

.rules-popup {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border-radius: 16px;
  z-index: 1000;  
}